<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dynamic_test.dao.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.dynamic_test.entity.SysUser">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="name" property="name" />
        <result column="sex" property="sex" />
        <result column="age" property="age" />
        <result column="tel" property="tel" />
        <result column="mail" property="mail" />
        <result column="enable" property="enable" />
        <result column="createtime" property="createtime" />
        <result column="updatetime" property="updatetime" />
        <result column="isdel" property="isdel" />
        <result column="describes" property="describes" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, password, name, sex, age, tel, mail, enable, createtime, updatetime, isdel, describes
    </sql>

</mapper>
